


.paginationBttns {
  width: 50%;
  height: 15px;
  list-style: none;
  margin-left:20%;
  margin-right:20%;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 8px;
  margin: 6px;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #2b2eff;
}

.paginationActive a {
  color: white;
  background-color: #2b2eff;
}

.paginationDisabled a {
  color: grey;
  background-color: grey;
}

table{
  margin-top:20px;
  margin-left:20%;
  margin-right:20%;
  /* width:60%; */
  margin-bottom:20px;
}

table, th, td {
  border: 1px solid black;
  /* border-collapse: collapse; */
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
